<div class="row">
  <div class="col-sm-4">
    <div ngbDropdown class="d-inline-block" open="true">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="width: 190px">Menu Principal</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="goCash()"><fa name="columns"></fa> Panel</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="users"></fa> Clientes</button><hr>
        <button class="dropdown-item" (click)="goProductos()"><fa name="archive"></fa> Productos</button><hr>
        <button class="dropdown-item" (click)="goClose()"><fa name="crop"></fa> Cierres Caja</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="pencil-square-o"></fa> Pendientes</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="line-chart"></fa> Ventas</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="sticky-note"></fa> Notas de Crédito</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="cog"></fa> Configuracion</button><hr>
        <button class="dropdown-item" (click)="goClientes()"><fa name="sign-out"></fa> Salir</button>
      </div>
    </div>
  </div>
</div>