<div class="container"><br>
  <div class="jumbotron">
    <h1 class="display-4">Safi POS</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <form class="text-center border border-light p-5">
      <p class="h4 mb-4">Login</p>
      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      <button type="button" class="btn btn-primary col-sm-6" [routerLink]="['/dashboard']">Entrar</button>
      <div class="d-flex justify-content-around">
        <div>
          <a href="">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
      <!-- Register -->
      <p>¿No tienes una cuenta?
        <a href="">Registrase</a>
      </p>
    </form>
  </div>
</div>